@using Website.ViewModels.Web
@model Website.ViewModels.Web.QuoteListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
All Tags:
@foreach (var tag in Model.Tags)
{
    <span style="border-width:1px;border-color:black;border-style:solid;padding:3px;">@tag.Text</span>
}
<br />
@Html.Partial("_NewQuote", new QuoteViewModel())

<h3>Quotes</h3>
<div class="quotes">
    @foreach (var quote in Model.Quotes.OrderByDescending(x => x.CreatedAt))
    {
        @Html.Partial("_Quote", quote)
        @Html.ActionLink("Send to Banter", "SendSpecificToBanter", new { quote.Id })
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/autocomplete", "~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var quoteHub = $.connection.quotesHub;
            quoteHub.client.newQuote = function (data) {
                $(".quotes").prepend(data);
            };
            $.connection.hub.start();
        });

        $("#newQuoteForm").submit(function (event) {
            event.preventDefault();
            var stuf = $(this).serialize();
            $(this).trigger("reset");
            $.post('@Url.Action("NewQuote")', stuf);
        });
    </script>
}
